@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 44 33% 95%;
    --foreground: 20 10% 5%;
    
    --card: 0 0% 100%;
    --card-foreground: 20 10% 5%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 20 10% 5%;
    
    --primary: 60 10% 26%;
    --primary-foreground: 44 33% 95%;
    
    --secondary: 35 24% 44%;
    --secondary-foreground: 44 33% 95%;
    
    --muted: 44 20% 88%;
    --muted-foreground: 60 10% 26%;
    
    --accent: 44 33% 95%;
    --accent-foreground: 60 10% 26%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 44 20% 88%;
    --input: 44 20% 88%;
    --ring: 35 24% 44%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}